<h1><%= @project.name %></h1>

<% if @forms.empty? %>
  <p>There are currently no forms for this projects.</p>
<% else %>
  <ul>
    <% @forms.each do |form| %>
      <li><a href="/admin/projects/<%= @project.id %>/forms/<%= form.id %>"><%= form.name %></a></li>
    <% end %>
  </ul>
<% end %>

<p>
  <a href="/admin/projects/<%= @project.id %>/forms/new">Create form</a>
</p>
